<!doctype html>
<html>
	<body>

		<center>
	
		<br> 
		<h1>Monali Mhetre</h2>
		<h1>1001600134</h1>
		<h1> Welcome to my home Page! </h1>
		
		<br>

		<h2><a href = "/enternew">Upload CSV</a></h2> <br>
		<h2><a href = "/list">Get all the Earthquake Details/Records</a></h2>
		<h2><a href = "/magnitude">Magnitude </a></h2>
		<h2><a href = "/range">Range of Magnitude </a></h2>
		<h2><a href = "/location">Search Locations</a></h2>
		<h2><a href = "/cluster">Data Clustering</a></h2>
		<h2><a href = "/night">Day/Night Earthquake </a></h2>
		
      
	</body>
</html>